/* ---------------- Tanmpilan Hp ------------- */
@media (min-width: 0px) and (max-width: 430px) {
    .col-1 {
        font-size: 12px;
    }

    .col h1 {
        font-size: 18px;
        margin-top: -10px;
    }

    .row {
        width: 100%;
        margin: 0;
    }

    .col h2 {
        transform: translate(-3px, 39px);
    }

    .container {
        padding: 0px 0px 0 0px;
        flex-direction: column;
        margin: 0;
    }

    .col p {
        margin-bottom: 10px;
    }

    .col-1 {
        padding-top: 0;
        height: 900px;
        padding-bottom: 50px;
    }

    .col-1 h2 {
        font-size: 14px;
    }

    .col {
        height: 70%;
    }

    .col-b,
    .col-c {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    thead th {
        padding: 6px;
    }
    
    tbody td {
        padding: 6px;
    }

    .option {
        width: 100%;
        height: 20%;
        margin-bottom: 40px;
    }

    .output {
        width: 100%;
    }

    .col-1 {
        transform: translateY(140px);

    }

    .a,
    .b,
    .c,
    .d,
    .e,
    .f,
    .g {
        width: 100px;
        height: 20px;
    }

    .a {
        transform: translateY(40px);
    }

    .b {
        transform: rotate(90deg) translateX(68px) translateY(50px);
    }

    .c {
        transform: rotate(90deg) translateX(48px) translateY(-50px);
    }

    .d {
        transform: translateY(77px);
    }

    .e {
        transform: rotate(90deg) translateX(105px) translateY(50px);
    }

    .f {
        transform: rotate(90deg) translateX(84px) translateY(-50px);
    }

    .g {
        transform: translateY(113px);
    }

    .table-container {
        width: 100%;
    }
}

/* ---------------Tampilan Hp End ------------- */

/* ------------ Tampilan Tablet ---------------- */
@media (min-width: 430px) and (max-width: 768px) {

    .container {
        padding: 0px 10px 0 0px;
        flex-direction: column;
        margin-top: 0;
    }

    .col-1 {
        padding-top: 0;
        height: 900px;
        padding-bottom: 50px;
        font-size: 12px;
    }

    .col {
        height: 45%;
    }

    .col h1 {
        margin-top: 70px;
        font-size: 25px;
    }

    .col h2 {
        padding-top: 60px;
    }

    .col-1 {
        transform: translateY(35px);

    }
}

/* -------------- Tampilan Tablet End ----------- */

/* -----------------Tampilan Laptop ------------- */
@media (min-width: 769px) {
    .col h1 {
        font-size: 30px;
    }

    .col-1 {
        transform: translateY(60px);

    }

    .col-1 h2 {
        padding-left: 30px;
    }

    .container {
        padding: 20px 30px 0 15px;
    }
}

@media (min-width: 1025px) {
    .col h1 {
        font-size: 30px;
    }

    .col-1 {
        transform: translateY(60px);
    }

    .col-1 h2 {
        padding-left: 0px;
    }

    .container {
        padding: 20px 30px 0 0px;
    }
}

/* --------------- Tampilan Laptop End ---------------- */
